$hightlight-color: rgba(21, 131, 204, 0.85);

.page-header{
  text-align: center;
  padding: 2em;
}

.subtle-text{
  font-weight: lighter;
  color: gray;
}

.columns {
  text-align: center;
}

.card{
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgba(130, 130, 130, 0.31);

  .card-title {
    padding-top: 20px;
    color: $hightlight-color;
  }

  .card-details {
    padding: 10px 20px 20px;

    .small-12{
      padding: 5px;
    }
  }

  .card-footer {
    padding-bottom: 10px;
  }
}
